build/GCMOD/*

# Ignore all files in src/ (non-recursive)
src/*
# But do not ignore subdirectories
!src/*/
# But ignore the bf1942 mod, cache & ScreenShots folders
src/Mods/bf1942/*
src/cache/*
src/ScreenShots/*

src/Mods/**/[Ll]ogs/*
src/Mods/**/[Ll]exicon[Aa]ll.dat

# Ignore all extensionless files directly within src/menu
src/[Mm]enu/*
!src/[Mm]enu/*.*
!src/[Mm]enu/*/

*/__pycache__/*
